# Archivos auxiliares generados por LaTeX
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.xdv

# PDF generado localmente (Overleaf genera el suyo propio)
main.pdf
